* {
        padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    background-image: linear-gradient(to right bottom, #cecdba, rgb(202, 238, 250));
}

.marca{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 50%;
}

.login {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    width: 50%;
}

.login .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #efebe7;
    box-shadow: 10px 10px 5px 3px #24282b;
    width: 60%;
    height: 75vh;
    border-radius: 30px;
}
.login form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 80%;
    width: 80%;
}

input[type="text"], input[type="password"] {
    border-radius: 15px;
    font-size: 20px;
    min-width: 70%;
    padding: 10px;
    border: none;
}

.button {
    border: none;
    width: 70%;
    color: white;
    font-size: 20px;
    background-color: #0063bb;
    padding: 15px 20px;
    border-radius: 30px;
    cursor: pointer;
}

.btn-dlg {
    text-decoration: none;
    color: white;
    background-color: #3aaa23;
    padding: 15px 20px;
    border-radius: 30px;
}

#btn-registro{
    display: none;
}

#btn-registro:checked ~ .dlg-registro {
    display: flex;
}

hr{
    background-color: #0063bb;
    height: 2px;
    width: 90%;
}

.dlg-registro{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0; left: 0;
    background-color: rgba(144, 148, 150, 0.8);
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
}

.cerrar-modal{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0; left: 0;
    z-index: -1;
}

.alerta{
    text-align: center;
    color: rgb(223, 35, 35);
    font-weight: bold;
}
.sucess{
    text-align: center;
    color: #0063bb;
    font-weight: bold;
}

.inputemail{
    border: 2px solid #0063bb !important; 
}

.inputcontra{
    border: 2px solid #0063bb !important;
}

@media (max-width: 950px){

    body{
        display: flex;
        flex-direction: column-reverse;
        margin: 0;
    }

    .login {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 70%;
    }

    .marca{
        width: 100%;
    }
    
}

@media (max-width: 750px) {

    input[type="text"], input[type="password"] {
        border-radius: 15px;
        font-size: 15px;
        min-width: 70%;
        padding: 10px;
        border: none;
    }
    .button {
        border: none;
        width: 70%;
        color: white;
        font-size: 10x;
        background-color: #0063bb;
        padding: 15px 20px;
        border-radius: 30px;
        cursor: pointer;
    }

    .btn-dlg {
        text-decoration: none;
        color: white;
        background-color: #3aaa23;
        padding: 15px 20px;
        border-radius: 30px;
    }

    hr{
        background-color: #0063bb;
        height: 2px;
        width: 90%;
    }

    body {
        display: flex;
        flex-direction: column-reverse;
    }
    .login {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
    }

    .marca {
        width: 100%;
    }

}