@font-face{
    font-family: "WebSymbolsRegular";
    src: url("../fonts/websymbols-regular-webfont.eot");
    src: url("../fonts/websymbols-regular-webfont.eot?#iefix") format('embedded-opentype'),
        url("../fonts/websymbols-regular-webfont.woff") format('woff'),
        url('../fonts/websymbols-regular-webfont.ttf') format('truetype'),
        url('../fonts/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Montserrat;
    src: url(../Fonts/Montserrat-VariableFont_wght.ttf);
}
@font-face {
    font-family: Ubuntu;
    src: url(../Fonts/Ubuntu-Regular.ttf);
}
@font-face {
    font-family: TiltNeon;
    src: url(../Fonts/TiltNeon-Regular-VariableFont_XROT\,YROT.ttf);
}
@font-face {
    font-family: Michroma;
    src: url(../Fonts/Michroma-Regular.ttf);
}
:root{
    --Ubuntu:Ubuntu;
    --TiltNeon:TiltNeon;
    --Michroma:Michroma;
    --fuenteprincipal:Montserrat;
    --negro:#131414;
    --gris:#cecdba;
    --azul:#0063bb;
    --naranja:#FF8D1A;
    --blanco:rgb(241, 236, 236);
}

h1{
    font-family: var(--fuenteprincipal);
}
td{
    font-family: var(--fuenteprincipal);
}
.caj-form{
    background-color: var(--blanco);
}
#lista-pro{
    font-family: var(--Ubuntu);
    color: blue;
}
.modal-body > ul > li{
    cursor: pointer;
}