<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="CSS/403.css">
    <title>403 ERROR</title>
</head>
<body>
    <div class="container">
        <div class=" row flex-column align-items-center">
            <div class="img-403">
                <img src="IMG/ilustracion-concepto-403-error-prohibido-policia_114360-1904 (1).avif" alt="" class="w-100 h-100">
            </div>

            <p class="fw-bold fs-4">Lo siento, no tienes acceso a este recurso. 
                Esto puede ser porque no estás autorizado para verlo o porque ha habido un error en el servidor.
            </p>
            <a href="Index.php" class="btn btn-success mb-3">Regresar a la tienda</a>
        </div>

    </div>

    <script src="Bootstrap/js/bootstrap.min.js"></script>
</body>
</html>